In [1]:
#Import libraries 
import numpy as np 
import pandas as pd 
import os

# Merging your Instacart Data

In [2]:
#Path to Instacart Project 
path = r'/Users/libertyonia/Documents/Instacart Basket Analysis'

In [3]:
#import ords_cleaned_4.5.csv as dataframe 
df_ords = pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'ords_cleaned_4.5.csv'))
df_ords = df_ords.drop(columns = ['Unnamed: 0.1','Unnamed: 0'])
df_ords.head(5)

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2398795,1,prior,2,3,7,15.0
1,473747,1,prior,3,3,12,21.0
2,2254736,1,prior,4,4,7,29.0
3,431534,1,prior,5,4,15,28.0
4,3367565,1,prior,6,2,7,19.0

In [4]:
df_ords.shape

(3214874, 7)

In [5]:
#import products_no_duplicates_4.5.csv as dataframe 
df_prods = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','products_no_duplicates_4.5.csv'))
df_prods = df_prods.drop(columns = (['Unnamed: 0']))
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [6]:
df_prods.shape

(49672, 5)

In [7]:
#imports order_products_prior.csv 
df_ords_prior = pd.read_csv(os.path.join(path,'02 Data','Original Data','order_products__prior.csv'))
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
#shapes of df_ords
df_ords.shape

(3214874, 7)

In [9]:
#shape of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [10]:
#merge df_ords and df_ords_prior 
df_ords_merged = df_ords.merge(df_ords_prior,on = ['order_id'], indicator = True)
df_ords_merged.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,prior,2,3,7,15.0,196,1,1,both
1,2398795,1,prior,2,3,7,15.0,10258,2,0,both
2,2398795,1,prior,2,3,7,15.0,12427,3,1,both
3,2398795,1,prior,2,3,7,15.0,13176,4,0,both
4,2398795,1,prior,2,3,7,15.0,26088,5,1,both

In [11]:
#Frequency of merged column 
df_ords_merged['_merge'].value_counts()

both          30356421
left_only            0
right_only           0
Name: _merge, dtype: int64

In [12]:
df_ords_merged.shape

(30356421, 11)

# 4.6 Task

### Answer 2
#### Export the merged file in pickle format as “orders_products_combined.pkl”.

In [13]:
#Export the merged file in pickle format as “orders_products_combined.pkl”
df_ords_merged.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))