# Task 4.6 Part Two

In [1]:
#Import libraries 
import numpy as np 
import pandas as pd 
import os

In [2]:
#Path to Instacart project 
path = r'/Users/libertyonia/Documents/Instacart Basket Analysis'

### Answer 3
#### In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [3]:
# Import the orders_products_combined dataframe and drop merge column
orders_products_combined = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))
orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,prior,2,3,7,15.0,196,1,1,both
1,2398795,1,prior,2,3,7,15.0,10258,2,0,both
2,2398795,1,prior,2,3,7,15.0,12427,3,1,both
3,2398795,1,prior,2,3,7,15.0,13176,4,0,both
4,2398795,1,prior,2,3,7,15.0,26088,5,1,both

### Answer 4
#### Check the shape of the imported dataframe (it should be the same as the one you exportedâ€”always check!).

In [4]:
#Check the shape of the imported dataframe
orders_products_combined.shape

(30356421, 11)

In [5]:
#Drop merge column of orders_products_combined dataframe 
orders_products_combined = orders_products_combined.drop(columns = ['_merge'])
orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2398795,1,prior,2,3,7,15.0,196,1,1
1,2398795,1,prior,2,3,7,15.0,10258,2,0
2,2398795,1,prior,2,3,7,15.0,12427,3,1
3,2398795,1,prior,2,3,7,15.0,13176,4,0
4,2398795,1,prior,2,3,7,15.0,26088,5,1

### Answer 5 
#### Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [6]:
#import cleaned products data set and remove Unnamed column 
df_prods = pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data','products_no_duplicates_4.5.csv'))
df_prods = df_prods.drop(columns = ['Unnamed: 0'])
df_prods.head(5)

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [7]:
df_prods.shape

(49672, 5)

In [9]:
#merge the orders_products_combined dataframe with the df_prods dataframe 
ords_prods_combined_final = orders_products_combined.merge(df_prods,on = ['product_id'],indicator = True)
ords_prods_combined_final.head(5)

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
1,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
2,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
3,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both
4,3367565,1,prior,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both

### Answer 6 
#### Confirm the results of the merge using the merge flag.

In [10]:
#Check the frequency of inner joined ords_prods_combined_final dataframe 
ords_prods_combined_final['_merge'].value_counts()

both          30328763
left_only            0
right_only           0
Name: _merge, dtype: int64

In [11]:
#Outer the orders_products_combined dataframe with the df_prods dataframe 
ords_prods_combined_final_outer = orders_products_combined.merge(df_prods,on = ['product_id'],how = 'outer',indicator = True)

In [12]:
#Check the frequency of outer joined ords_prods_combined_final dataframe 
ords_prods_combined_final_outer['_merge'].value_counts()

both          30328763
left_only        28194
right_only          42
Name: _merge, dtype: int64

In [13]:
ords_prods_combined_final.shape

(30328763, 15)

### Answer 7 
#### Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [14]:
#Export ords_prods_combined_final dataframe to pickle format 
ords_prods_combined_final.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', ' orders_products_merged.pkl'))